.carousel {
/*    width: 80%;*/
}
.carousel-item img {
    width: 75%;
    height: 75%;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.portrait {

}